/* src/components/Note.css */

.note {
  position: relative;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: grab;
  margin: 10px;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
}

.note button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.note button:hover {
  color: red;
}
